body {
    background: green;
    font-family: 'Gothic A1', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 90%;
    margin: 0 auto;
    background: red;
}

.container img {
    width: 40%;
}

.intro {
    margin-top: 90px;
}